html {
  scroll-behavior: smooth;
}

.publication-paragraphs p {
  margin-bottom: 3rem;
}

.wider-publications-wrapper .max-w-prose {
  max-width: 1200px !important;
}

/* Make the sidebar/profile card wider */
.sidebar-wider {
  min-width: 180px !important; /* or try 200px for more space */
}

.m-w-\[130px\] {
  min-width: 180px !important;
  width: 180px !important;
}

@media (min-width: 768px) {
  .m-w-\[130px\] {
    min-width: 200px !important;
    width: 200px !important;
  }
}